@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');



/*---------------------------------------------Colours */
body{
    background-color: black;
    
}

h2{
    color: #fafafa;
    margin-top: 50px;
    margin-left: 70px;
    font-family: 'Cabin', sans-serif;
}

.scroll{
    background-image: url("/assets/image/grad.JPG") ;
    background-size: cover;
    background-attachment: fixed;
}

.card-overlay{
    background: rgba(0, 0, 0, 0.5);
}


/*---------------------------------------------Margins/paddings etc */

.container{
    margin: 0 auto;
    flex: 1;
}

/*---------------------------------------------Headings */

header {
    padding-bottom: 50px;
}

.nav-link{
    color: #fafafa;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    font-size: 15px;
    font-family: 'Cabin', sans-serif;
   
    
}
p{
    color: #fafafa;
    font-size: 35px;
    margin-top: 100px;
    margin-left: 70px;
}

/*---------------------------------------------Footer */

footer {
    left:0;
    bottom: 0;
    margin-left: 70px;

}



/*--------------------------------------------Contact Form */
/*--------------------------------------------Media Queries */